<script type="text/javascript">
  var userZipCode = 80302;
</script>
<svg class="clouds cloud0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
 <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
</svg>
<svg class="clouds cloud1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
 <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
</svg>
<div class="weatherDiv text-center">
    <h1 id="temp"></h1>
    <h1 id="forecast"></h1>
</div>
<div class="sun">
</div>
<div class="container-fluid text-center">
    <h1 class='demologo profile'>Admin</h1>
    <a href="/admin/logout"><button class="hvr-grow-shadow" id="logoutBtn" type="button" name="button">Log out</button><br><br></a>

</div><br>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <!-- Default panel contents -->
                <h4 class="text-center">Users</h4>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Garden Name</th>
                            <th>Email</th>
                            <th>Zipcode</th>
                            <th>Delete User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.garden_name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.zipcode}}</td>
                                <td><button class="deleteUser" data-id="{{this.id}}">Delete</button></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- BACKGROUND IMG -->
<!-- <div class="container-fluid">
  <img class="footerImg" src="http://i.imgur.com/fF54ty8.png" alt="">
</div> -->
<!-- FOOTER GRASS DIV-->
<!-- <div class="container-fluid footer">
</div> -->
<script src="/javascripts/admin.js" charset="utf-8"></script>
