<div class="sun">
</div>
<!-- HEADER -->
<div class="container-fluid header">
    <div class="text-center">
        <h1 class="logo">Garden Growers</h1><br>
        <p>slogan about us something nice</p>
        <h1>Feed</h1>
        <a href="/home"><button type="button" name="button">Home</button></a><br>
    </div>
</div>
<div class="container-fluid text-center">
    {{#each feedData}}
        <div class="row">
            <div class="col">
                <h1>{{this.garden_name}}</h1>
                <div class="col-xs-12">
                    <div class="card">
                        <img id="plantImg" class="card-img-top" src="{{this.photo}}" alt="Card image cap"><br>
                        <div class="card-block">
                            <h4 class="card-title">Common Name: {{this.common_name}}</h4>
                            <p class="card-text">Description: {{this.description}}</p>
                        </div>
                        <ul class="list-group list-group-flush container">
                            <li class="list-group-item">Scientific Name: {{this.scientific_name}}</li>
                            <li class="list-group-item">Date Added: {{this.created_at}}</li>
                        </ul>
                        <a href="/feed/{{this.id}}"><button type="button" name="button">View {{this.garden_name}}'s garden!</button></a><br>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<!-- BACKGROUND IMG -->
<img class="footerImgFooter" src="http://i.imgur.com/fF54ty8.png" alt=""><br>
<!-- FOOTER GRASS DIV-->
<div class="container-fluid footerFeed">
</div>
