<div class="sun">
</div>
<div class="container-fluid text-center">
    <h1 class='demologo profile'>Your Garden: {{gardenName}}</h1>
    <pclass="randomQuote"></p><br>
    <a href="/feed"><button class="hvr-grow-shadow feedBtn" type="button" name="button">Feed</button></a><br><br>
    <button class="hvr-grow-shadow" id="createPlantBtn" type="button" name="button">Add New Plant</button><br>
</div><br>
<div class="container-fluid text-center createForm hidden">
    <form class="" action="/home" method="post">
        <input type="text" name="common_name" value="" placeholder=" Common Name"><br>
        <input type="text" name="scientific_name" value="" placeholder=" Scientic Name"><br>
        <input type="text" name="description" value="" placeholder=" Description"><br>
        <input type="text" name="plant_count" value="" placeholder=" Number of plants being planted"><br>
        <input type="text" name="photo" value="" placeholder=" Add Plant Photo"><br>
        <button class="hvr-grow-shadow" id="submitCreateBtn" type="submit" name="">Submit New Plant</button>
    </form>
</div>

<div class="container text-center">
  <div class="right">
    <div class="panelCard panel-default clicable noteCard">
        <div class="panel-body">
            <div class="top-content">
                <div class="question">
                    <p class="x-large"><b>
                      <h4>Total # Of Plants: </h4>
                      <h1>{{numberOfPlants}}</h1>
                    </b></p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="left">
    <div class="panelCard panel-default clicable noteCard">
        <div class="panel-body">
            <div class="top-content">
                <div class="question">
                    <p class="x-large">
                      <b>
                        <h4>My Most Common Plants:</h4>
                        {{#each commonPlants}}
                        <h4>{{this.common_name}}: {{this.plant_count}}</h4>
                        {{/each}}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <canvas id="doughnutChartHome" width="400" height="150"></canvas><br><br>
    </div>
</div>


{{#each userPlants}}
<div class="container text-center" style="margin-top: 40px">
  <!-- <div class="row"> -->
    <div class="col-sm-6">
      <div class="panel panel-default clicable">
        <div class="panel-body">
          <div class="top-img">
            <img class="top-img" src="{{this.photo}}">
          </div>
        <div class="top-content">
            <div class="question">
                <p class="x-large"><b>{{this.common_name}} | {{this.scientific_name}}</b></p>
            </div>
        <div class="made-by">
            <p class="text-muted">
                <b class="cool-font">
                    <span>{{this.description}}</span>
                </b>
            </p>
        </div><br>
            <div class="price">
              <p class="text-center xx-large avg">
                <!-- <b><a href="/feed/{{this.id}}"><button class="hvr-grow-shadow gardenView" type="button" name="button">View {{this.garden_name}}'s garden!</button></a><br></b> -->
                <button class="btn btn-danger delete" data-id="{{this.plant_id}}" type="button" name="">Delete plant</button>
                <button class="btn btn-info editBtn" data-id="{{this.plant_id}}" type="button" name="edit">Edit plant</button>

              </p>
            </div><br>
            <hr>
            <div class="extra-info text-muted">
                <div class="pull-right">Updated: {{this.created_at}}</div>
            </div><br>
        <!-- </div> -->
      </div>
    </div>
</div>
</div>
<div class="container-fluid text-center editForm hidden">
    <form class="" action="/home" method="patch">
        <input type="text" name="common_name" value="" placeholder=" Common Name"><br>
        <input type="text" name="scientific_name" value="" placeholder=" Scientic Name"><br>
        <input type="text" name="description" value="" placeholder=" Description"><br>
        <input type="text" name="plant_count" value="" placeholder=" Number of plants being planted"><br>
        <input type="text" name="photo" value="" placeholder=" Add Plant Photo"><br>
        <button class="hvr-grow-shadow" id="editSubmit" type="submit" name="">Submit Updates</button>
    </form>
</div>
{{/each}}
<!-- BACKGROUND IMG -->
<!-- <div class="container-fluid">
  <img class="footerImg" src="http://i.imgur.com/fF54ty8.png" alt="">
</div> -->
<!-- FOOTER GRASS DIV-->
<!-- <div class="container-fluid footer">
</div> -->
