<script type="text/javascript">
  var userZipCode = {{zip}};
</script>
<svg class="clouds cloud0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
 <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
</svg>
<svg class="clouds cloud1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
 <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
</svg>
<div class="weatherDiv text-center">
    <h1 id="temp"></h1><h1 id="forecast"></h1>
</div>
<div class="sun">
</div>
<div class="container-fluid text-center">
    <h1 class='demologo profile'>{{gardenName}}</h1>
    <pclass="randomQuote"></p><br>
    <a href="/feed"><button class="hvr-grow-shadow feedBtn" type="button" name="button">Feed</button></a><br><br>
    <a href="/home/logout"><button class="hvr-grow-shadow" id="logoutBtn" type="button" name="button">Log out</button><br></a>
    <button class="hvr-grow-shadow" id="createPlantBtn" type="button" name="button">Add New Plant</button><br><br>

</div><br>
<div class="container-fluid text-center createForm hidden">
    <form class="" action="/home" method="post">
        <input type="text" name="common_name" value="" placeholder=" Common Name"><br>
        <input type="text" name="scientific_name" value="" placeholder=" Scientic Name"><br>
        <input type="text" name="description" value="" placeholder=" Description"><br>
        <input type="text" name="plant_count" value="" placeholder=" Number of plants being planted"><br>
        <input type="text" name="photo" value="" placeholder=" Add Plant Photo"><br>
        <button class="hvr-grow-shadow" id="submitCreateBtn" type="submit" name="">Submit New Plant</button>
    </form>
</div>
<div class="container text-center">
  <div class="right">
    <div class="panelCard panel-default clicable noteCard">
        <div class="panel-body">
            <div class="top-content">
                <div class="question">
                    <p class="x-large"><b>
                      <h4>Number of Plant Types: </h4>
                      <h1>{{numberOfPlants}}</h1>
                    </b></p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="left">
    <div class="panelCard panel-default clicable noteCard">
        <div class="panel-body">
            <div class="top-content">
                <div class="question">
                    <p class="x-large">
                      <b>
                        <h4>My Most Common Plants:</h4>
                        {{#each commonPlants}}
                        <h4>{{this.common_name}}: {{this.plant_count}}</h4>
                        {{/each}}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <canvas id="doughnutChartHome" width="400" height="150"></canvas><br><br>
    </div>
</div>
{{#each userPlants}}
<div class="text-center" style="margin-top: 40px">
  <!-- <div class="row"> -->
    <div class="col-md-6">
      <div class="panel panel-default clicable">
        <div class="panel-body">
          <div class="top-img">
            <img class="top-img" src="{{this.photo}}">
          </div>
        <div class="top-content">
            <div class="question">
                <p class="x-large"><b>{{this.common_name}} | {{this.scientific_name}}</b></p>
            </div>
        <div class="made-by">
            <p class="text-muted">
                <b class="cool-font">
                    <span>{{this.description}}</span>
                </b>
            </p>
        </div><br>
            <div class="price">
              <p class="text-center xx-large avg">
                <button class="btn btn-danger delete" data-id="{{this.plant_id}}" type="button" name="">Delete plant</button>
                <button class="btn btn-info editBtn" data-id="{{this.plant_id}}" type="button" name="edit">Edit plant</button>
              </p>
            </div><br>
            <hr>
            <div class="extra-info text-muted">
                <div class="pull-right">Updated: {{this.updated_at}}</div><br>
                <div class="container-fluid text-center editForm hidden">
                    <div>
                        <input type="text" id="edit_description" value="{{this.description}}" placeholder=" Description"><br>
                        <input type="text" id="edit_plant_count" value="{{this.plant_count}}" placeholder=" Number of plants being planted"><br>
                        <input type="text" id="edit_photo" value="{{this.photo}}" placeholder="Add Plant Photo"><br>
                        <button class="hvr-grow-shadow" id="editSubmit" type="submit" data-id={{this.id}}>Submit Updates</button>
                    </div>
                </div>
            </div><br>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
