<div class="sun">
</div>
<div class="container-fluid text-center">
    <h1 class='demologo profile'>{{gardenName}}</h1><br>
    <p>slogan about us something nice</p>
    <a href="/feed"><button type="button" name="button">Feed</button></a>
    <a href="/home"><button type="button" name="button">Home</button></a><br><br>
</div><br>
<div class="container-fluid" style="height: 500px;">
    <div class="row">
        <div class="col-xs-4">
            <canvas id="myChartHome" width="400" height="400"></canvas>
        </div>
        <div class="col-xs-4">
            <canvas id="doughnutChartHome" width="400" height="400"></canvas>
        </div>
        <div class="col-xs-4 text-center">
            <div class="col numberOfPlants">
              <h1>Total # Of Plants: </h1><br>
              <h1>{{numberOfPlants}}</h1>
            </div><br>
            <div class="col myMostCommon">
              <h1>My Most Common Plants: </h1><br>
              <h1>{{mostCommonPlants}}</h1>
            </div>
        </div>
    </div>

</div>
<div class="container text-center">
    {{#each gardenData}}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img id="plantImg" class="card-img-top" src="{{this.photo}}" alt="Card image cap"><br>
                <div class="card-block">
                    <h4 class="card-title">{{this.common_name}}</h4>
                    <p class="card-text">{{this.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Scientific Name: {{this.scientific_name}}</li>
                    <li class="list-group-item">Date Added: {{this.created_at}}</li>
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
  </div>
<!-- BACKGROUND IMG -->
<img class="footerImg" src="http://i.imgur.com/fF54ty8.png" alt="">
<!-- FOOTER GRASS DIV-->
